---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | PrivaTools</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="bg-[var(--color-bg-base)] min-h-screen antialiased">
    <slot />
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
